!!!
html
  head
    title= "Dayz"
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/bootstrap.js')
    script(src='/js/Players.js')
    script(src='/js/Player.js')
  body

    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner

    div.container-fluid.content
      div.row-fluid
        div#sidebar.span3
          div#player

        div.span9
          table.table.table-striped.users
            thead
              tr
                th name
                th
                th blood
                th is_dead
                th [ x | y ]
                th
            tbody

script(type='text/javascript')
  $().ready(function() {
    Players.init();
  });

  Array.prototype.in = function(needle) {
      var length = this.length;
      for(var i = 0; i < length; i++) {
          if(this[i] == needle) return true;
      }
      return false;
  }
